@font-face {
	font-family: 'RoyalCrescentdemo';
	src: url('fonts/Royal Crescent Demo.otf');
}

body {
	font-family: 'RoyalCrescentdemo';
	background-color: black;
	color: white;
	text-align: center;
}

h1 {
	font-size: 3em;
}

p {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	font-size: 1.5em;
}

li {
	display: inline;
}

li a {
	margin-left: 0.5%;
	margin-right: 0.5%;
	font-size: 1.75em;
	text-decoration: none;
	transition-duration: 0.2s;
}

.home {
	color: #ff7978;
	transition-duration: 0.2s;
}

.home:hover {
	color: white;
	transition-duration: 0.2s;
}

.homeReverse {
	color: white;
	transition-duration: 0.2s;
}

.about {
	color: #feb914;
	transition-duration: 0.2s;
}

.about:hover {
	color: white;
	transition-duration: 0.2s;
}

.aboutReverse {
	color: white;
	transition-duration: 0.2s;
}

.games {
	color: #d1e188;
	transition-duration: 0.2s;
}

.games:hover {
	color: white;
	transition-duration: 0.2s;
}

.gamesReverse {
	color: white;
	transition-duration: 0.2s;
}

.contact {
	color: #2c9fa2;
	transition-duration: 0.2s;
	text-decoration: none;
}

.contact:hover {
	color: white;
	transition-duration: 0.2s;
}

.contactReverse {
	color: white;
	transition-duration: 0.2s;
}

.bigButton {
	background-color: black;
	color: white;
	border: 3px solid white;
	transition-duration: 0.2s;
	font-size: 2em;
	padding: 10px;
	font-family: 'RoyalCrescentDemo';
}

.bigButton:hover {
	background-color: white;
	color: black;
	transition-duration: 0.2s;
	cursor: pointer;
}

.socialMedia {
	font-size: 2em;
}

#facebook {
	color: white;
	transition-duration: 0.1s;
	margin-left: 5px;
}

#facebook:hover {
	color: #3b5998;
	transition-duration: 0.1s;
}

#twitter {
	color: white;
	transition-duration: 0.1s;
	margin-right: 5px;
}

#twitter:hover {
	color: #00acee;
	transition-duration: 0.1s;
}

#logo {
	width: 40%;
	transition-duration: 0.2s;
}

.red {
	color:#ff7978;
}

input[type=text], select, textarea {
	width: 30%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	/*border-radius: 4px; */ /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	font-family: 'Roboto', sans-serif;
	text-align: left;
	transition-duration: 0.2s;
}

label {
	float: left;
	margin-left: 35%;
}

textarea {
	vertical-align: top;
}

@media (max-width: 1200px) {
	#logo {
		width: 70%;
	}

	.bigButton {
		font-size: 1.5em;
		border: 2px solid white;
		padding: 5px;
	}

	input[type=text], select, textarea {
		width: 40%; /* Full width */
		transition-duration: 0.2s;
	}

	label {
		margin-left: 30%;
		transition-duration: 0.2s;
	}

	p {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		font-size: 1em;
	}
}

@media (max-width: 800px) {
	li a {
		font-size: 1.25em;
	}
}